
body {
    font-family: 'Roboto', sans-serif;
    
}


header {
    height: 70px;
    display: fixed;
}

.my-display-none-lg {
    display: none;
}


aside {
    width: 80px;
    height: calc( 100vh - 70px);
    background-color: #122A3E;
     
}

.main-section {
    width: calc(100% - 80px);
    
}

.main-blue {
    background-color: #1B72E8;
    width: 100%;
    
}

.logo img {

    height: 70px;
}

#yellow {
    color: #FF8F00;
}

.plus {
    
    height: 40px;
    width: 40px;
    
    
}

.my-border-radius {
    background-color: #165BBA;
    border-radius: 15px;
    padding: 2px;
    font-size: 12px;
}

.table-border-radius {
    color: white;
    border-radius: 10px;
    width: 70%;
    
}
.check-color i {
    color: gray;
}

.green {
    background-color:#078651 ;
}

.yellow {
    background-color: #FFC217;
}

.red {
    background-color: #D90000;
}

.my-display-none {
    display: none;
}

.my-border-width {
    border-width: 50%;
}

td img {
    width: 20px;
}




/* TABLET RESPONSIVRE CSS  */

@media screen and (min-width: 768px) {
   

    .new-student {
        order: 3;
    }

}




/* DESKTOP RESPONSIVE CSS  */
@media screen and (min-width: 992px) {

    .my-display-none-lg {
        display:table-cell;
    }
    .my-display-none {
        display: inline-block;
        
    }

    aside {
        width: 120px;
    }


}

