
body {
    font-family: 'Roboto', sans-serif;
    
}


header {
    height: 70px;
    display: fixed;
}



aside {
    width: 80px;
    height: 100vh;
    background-color: #122A3E;
    display: fixed;  
}

.main-blue {
    width: 100%;
   height: 40%;
   background-color: #1B72E8;

}


.logo img {

    height: 70px;
}

#yellow {
    color: #FF8F00;
}

.plus {
    
    height: 40px;
    width: 40px;
    padding: 0px 11px;
    
}

.my-border-radius {
    background-color: #165BBA;
    border-radius: 15px;
    padding: 2px;
}




